# Configuration file

gems_finder {
    S:targets <
        BiomesOPlenty:gemOre, 0xffb62cc8, amethyst
        BiomesOPlenty:gemOre:2, 0xfff00000, ruby
        BiomesOPlenty:gemOre:4, 0xff68852e, peridot
        BiomesOPlenty:gemOre:6, 0xffffa308, topaz
        BiomesOPlenty:gemOre:8, 0xff4e3897, tanzanite
        BiomesOPlenty:gemOre:10, 0xff157f65, malachite
        BiomesOPlenty:gemOre:12, 0xff1a7fd3, sapphire
        BiomesOPlenty:gemOre:14, 0xffbd9823, amber
     >
}


metals_finder {
    S:targets <
     >
}


minerals_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [BiomesOPlenty:biomeBlock, 0xffffffff, biome_essense]]
    S:targets <
        BiomesOPlenty:biomeBlock, 0xffffffff, biome_essense
     >
}


