# Configuration file

gems_finder {
    S:targets <
        Railcraft:ore:2, 0xff4aedd1, diamond
        Railcraft:ore:3, 0xff00b038, emerald
        Railcraft:ore:4, 0xff0000ff, lapis
        Railcraft:ore:5, 0xffd76a19, firestone
     >
}


metals_finder {
    S:targets <
        Railcraft:ore:7, 0xffdeb887, iron
        Railcraft:ore:8, 0xffffd700, gold
        Railcraft:ore:9, 0xff83cd90, copper
        Railcraft:ore:10, 0xfff4f4f4, tin
        Railcraft:ore:11, 0xff7978aa, lead
     >
}


minerals_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [Railcraft:ore, 0xffffff00, sulfur], [Railcraft:ore:1, 0xffdedede, saltpeter]]
    S:targets <
        Railcraft:ore, 0xffffff00, sulfur
        Railcraft:ore:1, 0xffdedede, saltpeter
     >
}


