# Configuration file

gems_finder {
    S:targets <
     >
}


metals_finder {
    S:targets <
        TConstruct:GravelOre, 0xffdeb887, iron
        TConstruct:GravelOre:1, 0xffffd700, gold
        TConstruct:GravelOre:2, 0xffc85509, copper
        TConstruct:GravelOre:3, 0xff7c3e1a, tin
        TConstruct:GravelOre:4, 0xfffbfbfb, aluminum
        TConstruct:GravelOre:5, 0xff2150a5, cobalt
        TConstruct:SearedBrick:1, 0xff2150a5, cobalt
        TConstruct:SearedBrick:2, 0xff6f611b, ardite
        TConstruct:SearedBrick:3, 0xffc85509, copper
        TConstruct:SearedBrick:4, 0xff7c3e1a, tin
        TConstruct:SearedBrick:5, 0xfffbfbfb, aluminum
     >
}


minerals_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


