# Configuration file

gems_finder {
    S:targets <
        UndergroundBiomes:igneous_oreDiamond:*, 0xff4aedd1, diamond
        UndergroundBiomes:metamorphic_oreDiamond:*, 0xff4aedd1, diamond
        UndergroundBiomes:sedimentary_oreDiamond:*, 0xff4aedd1, diamond
        UndergroundBiomes:igneous_oreEmerald:*, 0xff00b038, emerald
        UndergroundBiomes:metamorphic_oreEmerald:*, 0xff00b038, emerald
        UndergroundBiomes:sedimentary_oreEmerald:*, 0xff00b038, emerald
        UndergroundBiomes:igneous_oreLapis:*, 0xff0000ff, lapis
        UndergroundBiomes:metamorphic_oreLapis:*, 0xff0000ff, lapis
        UndergroundBiomes:sedimentary_oreLapis:*, 0xff0000ff, lapis
     >
}


metals_finder {
    S:targets <
        UndergroundBiomes:igneous_oreGold:*, 0xffffd700, gold
        UndergroundBiomes:metamorphic_oreGold:*, 0xffffd700, gold
        UndergroundBiomes:sedimentary_oreGold:*, 0xffffd700, gold
        UndergroundBiomes:igneous_oreIron:*, 0xffdeb887, iron
        UndergroundBiomes:metamorphic_oreIron:*, 0xffdeb887, iron
        UndergroundBiomes:sedimentary_oreIron:*, 0xffdeb887, iron
     >
}


minerals_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [UndergroundBiomes:igneous_oreCoal:*, 0xff000000, coal], [UndergroundBiomes:metamorphic_oreCoal:*, 0xff000000, coal], [UndergroundBiomes:sedimentary_oreCoal:*, 0xff000000, coal], [UndergroundBiomes:igneous_oreRedstone:*, 0xffff0000, redstone], [UndergroundBiomes:metamorphic_oreRedstone:*, 0xffff0000, redstone], [UndergroundBiomes:sedimentary_oreRedstone:*, 0xffff0000, redstone]]
    S:targets <
        UndergroundBiomes:igneous_oreCoal:*, 0xff000000, coal
        UndergroundBiomes:metamorphic_oreCoal:*, 0xff000000, coal
        UndergroundBiomes:sedimentary_oreCoal:*, 0xff000000, coal
        UndergroundBiomes:igneous_oreRedstone:*, 0xffff0000, redstone
        UndergroundBiomes:metamorphic_oreRedstone:*, 0xffff0000, redstone
        UndergroundBiomes:sedimentary_oreRedstone:*, 0xffff0000, redstone
     >
}


